<h1>Employee List</h1>
<table class="table">
  <tr>
    <th>ID</th>
    <th>Code</th>
    <th>Name</th>
    <th>Weekly Effort (Total)</th>
    <th>Weekly Effort (Average)</th>
  </tr>
  <tr *ngFor="let item of employeeService.employees">
    <td>{{item.id}}</td>
    <td>{{item.code}}</td>
    <td>{{item.name}}</td>
    <td>{{item.totalWeeklyEffort}}</td>
    <td>{{item.AvgWeeklyEffort}}</td>
  </tr>
</table>
<button type="button" routerLink="/timesheet"> navigate to timesheet </button>
