<h1>time Sheet</h1>
<label>select Employee</label>
<select [(ngModel)]="empID" name="empID" (change)="selectedEmp(empID)">
  
  <option *ngFor="let item of employeeService.employees" [ngValue]="item.id">
    {{item.name}}
  </option>
</select>
<button type="button" (click)="addNewItem()">Add new Row</button>
<table class="table">
  <tr>
    <th>Task Name</th>
    <th> sunday</th>
    <th>monday</th>
    <th>tuesday</th>
    <th>wednesday</th>
    <th>thursday</th>
    <th>friday</th>
    <th>saturday</th>
  </tr>
  <tr *ngFor="let itemWeek of selectedEmployeeData.weekEffort;let i = index">
    <td>
      <select [(ngModel)]="itemWeek.taskID" name="taskID{{i}}">
        <option></option>
        <option *ngFor="let item of tasks;let i = index" name="task" [ngValue]="item.id">
          {{item.name}}
        </option>
      </select>
    </td>
    <td> <input type="number" (keyup)="calcUateTotalsunday(itemWeek.sunday)" [(ngModel)]="itemWeek.sunday" name="sunday{{i}}"></td>
    <td> <input type="number" (keyup)="calcUateTotalmonday(itemWeek.monday)" [(ngModel)]="itemWeek.monday" name="monday{{i}}"></td>
    <td><input type="number" (keyup)="calcUateTotaltuesday(itemWeek.tuesday)" [(ngModel)]="itemWeek.tuesday" name="tuesday{{i}}"></td>
    <td><input type="number" (keyup)="calcUateTotalwednesday(itemWeek.wednesday)" [(ngModel)]="itemWeek.wednesday" name="wednesday{{i}}"></td>
    <td><input type="number" (keyup)="calcUateTotalthursday(itemWeek.thursday)" [(ngModel)]="itemWeek.thursday" name="thursday{{i}}"></td>
    <td><input type="number" (keyup)="calcUateTotalfriday(itemWeek.friday)" [(ngModel)]="itemWeek.friday" name="friday{{i}}"></td>
    <td><input type="number" (keyup)="calcUateTotalsaturday(itemWeek.saturday)" [(ngModel)]="itemWeek.saturday" name="saturday{{i}}"></td>
  </tr>
  <tr>
    <td>
      total
    </td>
    <td>  {{selectedEmployeeData.totalSunday}} </td>
    <td>  {{selectedEmployeeData.totalMonday}} </td>
    <td>  {{selectedEmployeeData.totalTuesday}} </td>
    <td>  {{selectedEmployeeData.totalWednesday}} </td>
    <td>  {{selectedEmployeeData.totalThursday}} </td>
    <td>  {{selectedEmployeeData.totalFriday}} </td>
    <td>  {{selectedEmployeeData.totalSaturday}} </td>
  </tr>
</table>
<br />
<button type="button" routerLink="/"> back to employee </button>
<button type="button" (click)="save()"> save Effort </button>
<br />

<label style="background-color:red;">*Note you should click SaveEffort btn to affect Employee List page </label>
